html{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: inline-grid;
    grid-template-columns: 4fr 12fr 3fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-gap: .5em;

}

header{
    background-color: #FFD700;
    grid-area: 1 / 1 / 2 / 4;
    padding: 1em;
}

nav{
    background-color: #FFD700;
    grid-area: 2 / 1 / 4 / 2;
    padding: 1em;
}

.article{
    background-color: #FFD700;
    grid-area: 2 / 2 / 3 / 3;
    padding: 1em;
}

.ads{
    background-color: #FFD700;
    grid-area: 2 / 3 / 3 / 4;
    padding: 1em;
}

footer{
    background-color: #FFD700;
    grid-area: 3 / 2 / 4 / 4;
    padding: 1em;
}