nav{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    background-color: gray;

}

nav img{
    height:15px ;
    width:15px;
}

nav a{
    padding: 0 .5em;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: black;
}

nav a:nth-of-type(4){
    /*flex-grow: 1;*/
}

    nav a:nth-of-type(5){
        margin-right: auto;
        margin-left: 20.5%;
        /*margin: auto;*/
        /*align-content: center;*/
        /*position: absolute;*/
        /*top: 0; left: 0; bottom: 0; right: 0;*/
    }

nav a:hover{
    color: blue;
}

nav p{
    display: flex;
    font-size: 3em;
    padding: .2em 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-align: center;
    flex-direction: column;
}