nav{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    background-color: gray;
    position: fixed;
    left: 0;
    right: 0;
}


nav a{
    padding: 1.0em .5em;
    margin: .5em 0;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: black;
    text-align: center;
}

nav a:nth-of-type(4){
    margin-right: auto;

}

nav a:nth-of-type(5){
    position: absolute;
    padding: 0;
    margin: 0;

}

nav a:hover{
    color: blue;
}

nav p{
    display: flex;
    font-size: 3em;
    padding: .2em 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-align: center;
}