html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

li{
    list-style: none;
}

h3{
    display: inline;
}

a{
    text-decoration: none;
    color: #0366D6;
}

a:hover{
    text-decoration: underline;
}


i{
    padding-right: .5em;
}


body{
    margin: 0;
}

button{
    text-align: center;
    padding: 5px;
    background-color: #F3F6F8;
    margin-right: 5px;
    border-radius: 5px;
    font-weight: bold;
}

button:hover{
    background-color: lightgrey;
}

button span{
    margin-left: 5px;
    padding: 5px 10px 5px 5px;
    background-color: white;
    border-left: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button span:hover{
    color: #2762a1;
}



nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: #23282E;
    left: 0;
    right: 0;
    width: 100%;

}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0;
}

nav ul li{
    padding: 5px;
    color: white;
}

nav ul li input{
    background-color: gray;
    margin: 0;
    border: 0;
    border-radius: 5px;
    height: 2em;
    width: 15em;
    padding: 0 0 0 .7em;
}

nav ul li input::placeholder{
    color: black;
}


nav ul li i{
    font-size: 1.2em;
    color: white;
}

nav ul li i:hover{
    color: grey;
}

nav ul li:nth-of-type(7){
    margin-left: auto;
}

nav a{
    color: white;
}

nav a:hover{
    text-decoration: none;
    color: grey;
}


footer{
    grid-area: 6 / 2 / 7 / 3;
    margin-bottom: 2em;
}

footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

footer ul li{
    padding-right: 1em;
    font-size: .8em;
}

footer ul li:nth-of-type(7){
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
}


.gray_a{
    color: grey;
}

.gray_a:hover{
    color: darkgrey;
    text-decoration: none;
}

.number_button{
    width: auto;
    padding-right: 0;
}

.nav-icon{
    font-size: 2em;
    color: white;
}

.wrapper{
    display: grid;
    grid-template-rows: 60px 60px 60px 1fr 1fr 60px;
    grid-template-columns: 1fr 980px 1fr;
}

.directory{
    grid-area: 1 / 2 / 2 / 3;
}

.directory ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
}

.directory ul li:nth-of-type(2){
    margin-left: auto;
}

.tabs{
    grid-area: 2 / 2 / 3 / 3;
}

.tabs ul{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
}

.tabs ul li{
    padding-right: 1em;
}

.branch_master{
    grid-area: 3 / 2 / 4 / 3;
}

.branch_master ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0;
}

.branch_master ul li:nth-of-type(2){
    margin-right: auto;
}

.branch_button{
    margin-right: 0;
    border-radius: unset;
}


.commit_log{
    grid-area: 4 / 2 / 5 / 3;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(7, 1fr);
    border: 1px solid gray;
    border-radius: 5px;
    align-content: center;
}

.commit_log p{
    display: flex;
    margin: 0;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.commit_log p:nth-child(-n+15){
    border-bottom: 1px solid gray;
}

.log_content{
    padding-left: 125px;
}

.log_year{
    justify-content: flex-end;
    padding-right: 10px;
}

.file_name{
    padding-left: 10px;
}

.last_row{
    border:none;
}

.file_info{
    margin: 25px 0 50px 0;
    grid-area: 5 / 2 / 6 / 3;
    display: grid;
    grid-template-columns: 1fr 946px 1fr;
    grid-template-rows: 35px 198px;
    border: 1px solid gray;
    border-radius: 5px;
    align-items: center;
}

.file_info .header{
    grid-area: 1 / 1 / 2 / 4;
    text-align: start;
    padding: 8px;
    background-color: #F1F8FF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid gray;

}

.file_info .body{
    grid-area: 2 / 2 / 3 / 3;
    justify-content: center;
    padding: 16px 32px;
}

.file_info .body h2{
    margin: 0;
}

#log_1_1{
    grid-area: 1 / 1 / 2 / 3;
    background-color: #F1F8FF;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
}

#log_1_2{
    grid-area: 1 / 3 / 2 / 4;
    justify-content: flex-end;
    background-color: #F1F8FF;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 5px;
}

#log_2_1{
    grid-area: 2 / 1 / 3 / 4;
    padding-left: 10px;
}


#branch_button_start{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#branch_button_end{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


#footer_icon{
    color: grey;
}

#footer_icon:hover{
    color: darkgrey;
}