:root{
    --info-bg-color:#CDDEFF;
    --info-color:#797CC2;
    --success-bg-color:#CFF3DA;
    --success-color:#227946;
    --warning-bg-color:#FCFBC9;
    --warning-color:#9B8B2A;
    --error-bg-color:#FAD3D7;
    --error-color:#9A3D53;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    border: solid lightgrey 1px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 80%;
}

.message-info{
    background-color: var(--info-bg-color);
    color: var(--info-color);
}

.message-success{
    background-color: var(--success-bg-color);
    color: var(--success-color);
}

.message-warning{
    background-color: var(--warning-bg-color);
    color: var(--warning-color);
}

.message-error{
    background-color: var(--error-bg-color);
    color: var(--error-color);
}