:root{
    --info-bg-color:lightskyblue;
    --info-color:blue;
    --success-bg-color:lightgreen;
    --success-color:green;
    --warning-bg-color:#f4f5ab;
    --warning-color:goldenrod;
    --error-bg-color:#d18484;
    --error-color:#ab3232;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    border: solid lightgrey 1px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.message-info{
    background-color: var(--info-bg-color);
    color: var(--info-color);
}

.message-success{
    background-color: var(--success-bg-color);
    color: var(--success-color);
}

.message-warning{
    background-color: var(--warning-bg-color);
    color: var(--warning-color);
}

.message-error{
    background-color: var(--error-bg-color);
    color: var(--error-color);
}